.bg-banner{
	background-image: url('/images/banner-home-votacion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width:100vw;
}

.bg-1{
	background-image: url('/images/background.jpg');
	background-repeat: repeat;
	background-size: cover;
}

footer{
    background-color: #4E4E4E;
}
footer div h3{
    font-size: .7rem;
    color: #fff;
}
footer div ul a{
    font-size: .7rem;
    color: #fff;
    list-style: none;
    ;
}
.span-footer{
    color: #fff;
    font-size: .6rem;
}